/* /components/BuildYourPutter/build-your-putter.css */

.builder-wrapper {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100svh; /* full height minus header */
}

.builder-wrapper section {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 5rem; /* space for bottom buttons */
}

.builder-buttons {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  z-index: 50;
}
